# ocp wsgi
upstream neurodata-wsgi {
  server unix:///var/run/uwsgi/app/neurodata/socket;
}

# place the following block in your server clause
server {
  
  ...
  
  location /ocp/ {
    rewrite       ^/ocp/(.*)$ /$1 break;
    uwsgi_pass    neurodata-wsgi;
    include       /etc/nginx/uwsgi_params;
    # increase buffer size to avoid hitting disk
    uwsgi_buffering on;
    uwsgi_buffers 4096 64k;
  }
  
  location /static {
    alias         /var/www/open-connectome/django/tempaltes/static/;
    autoindex     on;
    allow         all;
  }

  ...
  
}
