{% extends "base.html" %}
{% comment %}
Create Project Template
{% endcomment %}

{% block title %}
        Create New Project
{% endblock title%}
{% block content %}
 <div class="container-fluid">
   <div class = "row-fluid">
        <div class ="span12">

	  <div id="header" style="background-color:#4682B4;" align="center">
	    <h2 style="margin-bottom:0;">CREATE NEW PROJECT</h2></div>
	</div>
   </div>
 </div>

<form method="post" action="" enctype="multipart/form-data">
   
  {{ form.non_field_errors }}
  <div class="container-fluid">
    <div class = "row-fluid"> <div class ="span12"></div></div>
    <div class = "row-fluid">
      <div class ="span4"></div>
      <div class ="span2 blue">
        <div class="fieldWrapper">
          {{ form.subject.errors }}
          <label for="Token">Token:</label>
        </div>
      </div>
      <div class ="span2">
        {{ form.token }}
      </div>
      <div class ="span4"></div>
    </div>

    <div class = "row-fluid">
      <div class ="span4"></div>
      <div class ="span2">
        <div class="fieldWrapper">
          {{ form.subject.errors }}
          <label for="description">Description</label>
        </div>
      </div>
      <div class ="span2">
        {{ form.description }}
      </div>
      <div class ="span4"></div>
    </div>
    
     <div class = "row-fluid">
       <div class ="span4"></div>
       <div class ="span2">
         <div class="fieldWrapper">
           {{ form.subject.errors }}
           <label for="project">Project:</label>
         </div>
       </div>
       <div class ="span2">
         {{ form.project }}
       </div>
       <div class ="span4"></div>
     </div>

     <div class = "row-fluid">
       <div class ="span4"></div>
       <div class ="span2">
         <div class="fieldWrapper">
           {{ form.subject.errors }}
           <label for="dataset">Dataset</label>
         </div>
       </div>
       <div class ="span2">
         {{ form.dataset }}
       </div>
       <div class ="span4"></div>
     </div>

     <div class = "row-fluid">
       <div class ="span4"></div>
       <div class ="span2">
         <div class="fieldWrapper">
           {{ form.subject.errors }}
           <label for="datatype">Datatype:</label>
             </div>
           </div>
           <div class ="span2">
             {{ form.datatype }}
           </div>
           <div class ="span4"></div>
     </div>
     
   <!--  <div class = "row-fluid">
       <div class ="span4"></div>
       <div class ="span2">
         <div class="fieldWrapper">
           {{ form.subject.errors }}
           <label for="dataurl">Data URL</label>
         </div>
       </div>
       <div class ="span2">
         {{ form.dataurl }}
       </div>
       <div class ="span4"></div>
     </div>-->

     <div class = "row-fluid">
       <div class ="span4"></div>
       <div class ="span2">
         <div class="fieldWrapper">
           {{ form.subject.errors }}
           <label for="resolution">Resolution:</label>
         </div>
       </div>
       <div class ="span2">
         {{ form.resolution }}
       </div>
       <div class ="span4"></div>
     </div>

     <div class = "row-fluid">
       <div class ="span4"></div>
       <div class ="span2">
         <div class="fieldWrapper">
           {{ form.subject.errors }}
           <label for="readonly">Read Only:</label>
         </div>
       </div>
       <div class ="span2">
         {{ form.readonly }}
       </div>
       <div class ="span4"></div>
     </div>
     
     <div class = "row-fluid">
       <div class ="span4"></div>
       <div class ="span2">
         <div class="fieldWrapper">
           {{ form.subject.errors }}
           <label for="exceptions">Enable Exceptions:</label>
         </div>
       </div>
       <div class ="span2">
         {{ form.exceptions }}
       </div>
       <div class ="span4"></div>
     </div>
     
     <div class = "row-fluid">
       <div class ="span4"></div>
       <div class ="span2">
         <div class="fieldWrapper">
           {{ form.subject.errors }}
           <label for="exceptions"> Database Host</label>
         </div>
       </div>
       <div class ="span2">
         {{ form.host }}
       </div>
       <div class ="span4"></div>
     </div>

     <div class = "row-fluid">
       <div class ="span4"></div>
       <div class ="span2">
         <div class="fieldWrapper">
           <input type="checkbox" name="nocreate" id="nocre" value="on"> Link to existing database
         </div>
       </div>
       <div class ="span2">
         {{ form.nocreate }}
       </div>
       <div class ="span4"></div>
     </div>


    
    <div class = "row-fluid">
      <div class ="span5"></div>
      <div class ="span3">
	<p><button class="btn btn-primary" name = "CreateProject" type="submit">Create New Project</button></p>
        
      </div>
      <div class ="span4"></div>
      
 </form>
       
{% endblock %}


