{% extends "base.html" %}

{% block title %}
     Welcome 
{% endblock title %}


{% block content %}
<ul>
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>

<form class="form-inline" method="post" action="">


  <div id="header" style="background-color:#4682B4;" align="center">  
    <h2 style="margin-bottom:0;">TOKENS</h2></div>

  <div id="content" style="background-color:#F5F6CE;height:50px;width:1900px;float:left;">
    
    Filter By:
    <select name="filteroption">
      <option value="token">Token</option>
      <option value="project">Project</option>
      <option value="datatype">Datatype</option>
      <option value="dataset">Dataset</option>
    </select>
    
    <input type="text"  name="filtervalue" placeholder="Enter Filter Value">
    <button type="submit" class= "btn" name ="filter">Filter Projects </button>
    
  </div>
</div>

</form>
<body>

<form method="post" action="">
  <div class="tabbable tabs-left">
    <ul class="nav nav-pills nav-stacked span2">
    </ul>
    <div class="tab-content">
      <table class ="table">
	{% for token in tokens %}
	
	<thead>
	  <tr class="success"><th>Dataset</th> <th>{{database}}</th></tr>
	</thead>
	<tr>
	  <td></td>
	  <td>
	    <table class="table table-bordered">
	      <tr class ="error">
		<th>Token</th>
		<th>Dataset</th>
		<th>Read Only</th>
		<th>Exceptions</th>
		<th>Resolution</th>
		<th>Description</th>
              </tr>	   
	      <form method="post" action = "">
		<tr>
	          <input type="hidden" name="token" value={{token.0}}>
                  <td style="width: 15%;">{{ token.0 }}</td>
                  <td>{{ token.5 }}</td>
		  <td>{{ token.7 }}</td>
		  <td>{{ token.8 }}</td>
		  <td>{{ token.9 }}</td>
		  <td>{{ token.11 }}</td>
                  <td><button class="btn" id="delete" type="submit" name="delete"> <i class ="icon-trash icon-black"></i>Delete Dataset</button></td>
		  <td><button class="btn" id="viewprojects" type="submit" name="tokens"> <i class ="icon-inbox icon-black"></i>View Projects</button></td>
		  
		
	      </form>
	      
	  </table></td>
	</tr>
	{% empty %}
	<li>No Tokens Available!</li>
	{% endfor %}      
      </table>
    </div>
  </div>
  

</form>








</body>



{% endblock content %}


