[submodule "ndlib"]
	path = ndlib
	url = https://github.com/openconnectome/ndlib.git
	;url = git@github.com:openconnectome/ndlib.git
[submodule "ndinstall"]
	path = setup/ndinstall
	url = git@github.com:openconnectome/ndinstall.git
