[submodule "ndlib"]
	path = ndlib
  url = https://github.com/neurodata/ndlib.git
  branch = master
[submodule "spdb"]
	path = spdb
  url = https://github.com/neurodata/spdb.git
  branch = master
[submodule "setup/statuspage_config/statuspage-py"]
	path = setup/statuspage_config/statuspage-py
	url = https://github.com/kunallillaney/statuspage-py.git
