# Django settings for EMOCP project.

ADMINS = (
    # ('Your Name', 'your_email@example.com'),
)

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql', # Add 'postgresql_psycopg2', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'OCPdjango',                      # Or path to database file if using sqlite3.
        'USER': 'XXXXX',                      # Not used with sqlite3.
        'PASSWORD': 'XXXXX',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    },
}



# Make this unique, and don't share it with anybody.
SECRET_KEY = ''   # Needs to be defined

ACCOUNT_ACTIVATION_DAYS = 7
DEFAULT_FROM_EMAIL='ocpadm@cs.jhu.edu'
SERVER_EMAIL='ocpadm@cs.jhu.edu'

EMAIL_USE_TLS = True
EMAIL_HOST = 'smtp.cs.jhu.edu'
EMAIL_PORT = 587
EMAIL_HOST_USER = 'ocpadm@cs.jhu.edu'
EMAIL_HOST_PASSWORD = 'XXXXX'
