{% extends "base.html" %}


{% block title %}
Welcome 
{% endblock title %}


{% block content %}
<form method="post" action="">


  <div id="header" style="background-color:#4682B4;">
    <h1 style="margin-bottom:0;">PROJECTS</h1></div>

  <div id="content" style="background-color:#F5F6CE;height:80px;width:1900px;float:left;">
    <div id="filtermenu"style="background-color:#F5F6CE; height:80px;width:400px;float:left;">
      Filter By:
      <select name="filteroption">
	<option value="token">Token</option>
	<option value="project">Project</option>
	<option value="datatype">Datatype</option>
	<option value="dataset">Dataset</option>
      </select>
      
      <textarea name="filtervalue" cols="20" rows="1">
      </textarea>
      <br>
      <input type="submit" name ="filter" value="Filter Projects" />
    </div>
  </div>


 </form>





{% for key, value in databases %}
    
    <div id="tableheader" style="background-color:#EEEEEE;height:40px;width:1900px;float:left;">
      
       <div id="pname" style ="float:left;">
 	  <a name="projname"></a><h3>Dataset: {{key.0}}</h3>
       </div>
   </div>

<table border="1">
    
	<tr>
	  <th>Token</th>
	  <th>Datatype</th>
	  <th>Project</th>
	  <th>Readonly</th>
	  <th>Exceptions</th>
	  <th>Description</th>
	</tr>
 

    <div>

    
   {% for proj in value %}
       {% for field in proj %}
 
   <form method="post" action="">
     <input type="hidden" name="token" value={{field.0}}>

         <tr>
             <td style="width: 15%;">{{ field.0 }}</td>
	     <td>{{ field.4 }}</td>
	     <td>{{ field.3 }}</td>
	     {% if field.8 == 1 %}
	          <td>No</td>
             {% else %}
	          <td>Yes</td>
	     {% endif %}

             {% if field.7 == 1 %}
                  <td>No</td>
             {% else %}
                  <td>Yes</td>
             {% endif %}

             <td>{{ field.10 }}</td>
	     <td colspan=1 align ="center"> <input id="DownloadToken" type="submit" name="downloadtoken" value="Download Token"></td>
	     <td colspan=1 align ="center"><input id="update" type="submit" name="update" value="Update Project">
	     <td colspan=1 align ="center"> <input id="delete" type="submit" name="delete" value="Delete Project">
	     <td colspan=1 align ="center"> <input id="backup" type="submit" name="backup" value="Backup Project">
	 </tr>
   </form>
     
       {%  endfor %}
    {%  endfor %}
    
    
    </div>
 </table>




<br>
<br>
{% empty %}
    <li>No projects Available!</li>
{% endfor %}

{% endblock content %}


