{% extends "base.html" %}

{% block title %}
   Welcome 
{% endblock title %}


{% block content %}

<form class="form-inline" method="post" action="">


  <div id="header" style="background-color:#4682B4;" align="center">  
    <h2 style="margin-bottom:0;">PROJECTS</h2></div>

  <div id="content" style="background-color:#F5F6CE;height:50px;width:1900px;float:left;">
    
    Filter By:
    <select name="filteroption">
      <option value="token">Token</option>
      <option value="project">Project</option>
      <option value="datatype">Datatype</option>
      <option value="dataset">Dataset</option>
    </select>
    
    <input type="text"  name="filtervalue" placeholder="Enter Filter Value">
    <button type="submit" class= "btn" name ="filter">Filter Projects </button>
    
  </div>
</div>

</form>
<form method="post" action="">
  <div class="tabbable tabs-left">
    <ul class="nav nav-pills nav-stacked span2">
      <li class="active"> <a href="/EM/ocpuser/profile/">Projects</a></li>
      <li><a href="/EM/ocpuser/createproject/">Create Project</a></li>
      <li> <a href="/EM/ocpuser/restore/">Restore Project</a></li>
    </ul>
    <div class="tab-content">
      <table class ="table">
	{% for key, value in databases %}
	
	<thead>
	  <tr class="success"><th>Dataset</th> <th>{{key.0}}</th></tr>
	</thead>
	<tr>
	  <td></td>
	  <td>
	    <table class="table table-bordered">
	      {% for proj in value %}
              <tr class ="error">
		<th>Project</th>
		<th>Type</th>
		<th>Description</th>
              </tr>	   
	      {% for field in proj %}
              <tr>
	        
                <td style="width: 15%;">{{ field.0 }}</td>
                {% if field.4 == 1 %}
                <td>Image</td>
                {% else %}
                <td>Annotation</td>
                {% endif %}
		<td colspan=50>{{ field.10 }}</td>
                <td><button class="btn" id="delete" type="submit" name="delete"> <i class ="icon-trash icon-black"></i>Delete Project</button></td>
                <td><button class="btn" id="backup" type="submit" name="backup"> <i class ="icon-inbox icon-black"></i>Backup Project</button></td>
		<td><button class="btn" id="viewtokens" type="submit" name="tokens"> <i class ="icon-inbox icon-black"></i>View Tokens</button></td>
		
		{% endfor %}         
		{% empty %}
		<li>No Projects Available!</li>
		{% endfor %}         
	  </table></td>
	</tr>
	{% empty %}
	<li>No Datasets Available!</li>
	{% endfor %}      
      </table>
    </div>
  </div>
</form>


  <div id="poptions">
    <br>
    <br>
    <button class="btn" id="DownloadToken" type="submit" name="downloadtoken"><i class="icon-file icon-black"></i>Download Token </button>
    <button class="btn" id="update" type="submit" name="update" ><i class ="icon-edit icon-black"></i>Update Project</button>
    <button class="btn" id="delete" type="submit" name="delete"> <i class ="icon-trash icon-black"></i>Delete Project</button>
    <button class="btn" id="backup" type="submit" name="backup"> <i class ="icon-inbox icon-black"></i>Backup Project</button>
    
    
  </div>


{% for key, value in databases %}
    
    <div id="tableheader" style="background-color:#EEEEEE;height:40px;width:1900px;float:left;">
      
       <div id="pname" style ="float:left;">
 	  <a name="projname"></a><h3>Dataset: {{key.0}}</h3>
       </div>
   </div>

<table border="1">
    
	<tr>
	  <th></th>
	  <th>Token</th>
	  <th>Datatype</th>
	  <th>Project</th>
	  <th>Readonly</th>
	  <th>Exceptions</th>
	  <th>Description</th>
	</tr>
 

    <div>

    
   {% for proj in value %}
       {% for field in proj %}
    

         <tr>
	   <td><input type="radio" name="roptions" value={{field.0}}></td>
             <td style="width: 15%;">{{ field.0 }}</td>
	     {% if field.4 == 1 %}
                  <td>Image</td>
	     {% else %}
                  <td>Annotation</td>
             {% endif %}

	     
	     <td>{{ field.3 }}</td>
	     {% if field.8 == 1 %}
	          <td>No</td>
             {% else %}
	          <td>Yes</td>
	     {% endif %}

             {% if field.7 == 1 %}
                  <td>No</td>
             {% else %}
                  <td>Yes</td>
             {% endif %}

             <td colspan=50>{{ field.10 }}</td>


	 </tr>
   </form>
     
       {%  endfor %}
    {%  endfor %}
    
    
    </div>
 </table>

 <div class="well">
        <p><button class="btn btn-primary" href="https://github.com/dyve/django-bootstrap-toolkit/">Check it out on GitHub &raquo;</button></p>
    </div>


<br>
<br>
{% empty %}
    <li>No projects Available!</li>
{% endfor %}

{% endblock content %}


