{% extends "base.html" %}
{% load bootstrap_toolkit %}



{% block title %}
Welcome 
{% endblock title %}


{% block content %}
<form method="post" action="">


  <div id="header" style="background-color:#4682B4;">
    <h1 style="margin-bottom:0;">PROJECTS</h1></div>

  <div id="content" style="background-color:#F5F6CE;height:80px;width:1900px;float:left;">
    <div id="filtermenu"style="background-color:#F5F6CE; height:80px;width:400px;float:left;">
      Filter By:
      <select name="filteroption">
	<option value="token">Token</option>
	<option value="project">Project</option>
	<option value="datatype">Datatype</option>
	<option value="dataset">Dataset</option>
      </select>
      
      <textarea name="filtervalue" cols="20" rows="1">
      </textarea>
      <br>
      <input type="submit" name ="filter" value="Filter Projects" />
    </div>
  </div>


 </form>
 <form method="post" action="">
 {{ form|as_bootstrap }}
<div id="poptions">
  <input id="DownloadToken" type="submit" name="downloadtoken" value="Download Token">
  <input id="update" type="submit" name="update" value="Update Project">
  <input id="delete" type="submit" name="delete" value="Delete Project">
  <input id="backup" type="submit" name="backup" value="Backup Project">
  {% bootstrap_button 'test' icon='info-sign' url='wakka' size='mini' %}
   <button type="submit" class="btn btn-primary">Submit</button>
</div>


{% for key, value in databases %}
    
    <div id="tableheader" style="background-color:#EEEEEE;height:40px;width:1900px;float:left;">
      
       <div id="pname" style ="float:left;">
 	  <a name="projname"></a><h3>Dataset: {{key.0}}</h3>
       </div>
   </div>

<table border="1">
    
	<tr>
	  <th></th>
	  <th>Token</th>
	  <th>Datatype</th>
	  <th>Project</th>
	  <th>Readonly</th>
	  <th>Exceptions</th>
	  <th>Description</th>
	</tr>
 

    <div>

    
   {% for proj in value %}
       {% for field in proj %}
    

         <tr>
	   <td><input type="radio" name="roptions" value={{field.0}}></td>
             <td style="width: 15%;">{{ field.0 }}</td>
	     {% if field.4 == 1 %}
                  <td>Image</td>
	     {% else %}
                  <td>Annotation</td>
             {% endif %}

	     
	     <td>{{ field.3 }}</td>
	     {% if field.8 == 1 %}
	          <td>No</td>
             {% else %}
	          <td>Yes</td>
	     {% endif %}

             {% if field.7 == 1 %}
                  <td>No</td>
             {% else %}
                  <td>Yes</td>
             {% endif %}

             <td colspan=50>{{ field.10 }}</td>


	 </tr>
   </form>
     
       {%  endfor %}
    {%  endfor %}
    
    
    </div>
 </table>



    {% bootstrap_button 'test' icon='info-sign' url='wakka' %}

    {% bootstrap_button 'test' icon='info-sign' url='wakka' size='mini' %}

    {% bootstrap_icon "info-sign" %}

<br>
<br>
{% empty %}
    <li>No projects Available!</li>
{% endfor %}

{% endblock content %}


