{% extends "base.html" %}
{% comment %}
Update Project Template
{% endcomment %}

{% block title %}
    <section>
        <h2> Update Project Token </h2>

{% endblock %}
{% block content %}

       <form action="" method="post" enctype="multipart/form-data">
         {% csrf_token %}
         <div align=left>

           <p>{{form.as_p}}</p>
         </div>
         <div align=left>
           <p><input name = "UpdateProject" type="submit" value="Update Project"></p>

           <div>
       </form>

    </section>
{% endblock %}


