dbhost = 'localhost'
dbuser = ''
dbpasswd = ''
db = 'emcaconfig'
projects = 'projects'
datasets = 'datasets'
project_description = 'project_description'
token_description = 'token_description'
dataset_description = 'dataset_description'
