{% load i18n %}
{% load static %}
<!DOCTYPE html >
<html>


<head>
    <link rel="stylesheet" type ="text/css" href="{% static 'default.css' %}" />
    <link rel="stylesheet" type ="text/css" href="{% static 'css/bootstrap.css' %}" />
    <title>{% block title %}Open Connectome Project Admin {% endblock %}</title>

    <a href="http://openconnecto.me" target="_blank" align="center"><img src="{% static 'images/ocplogo.png' %}" border="0" /></a>

</head>


<body>


  <div id="header" align ="right">
    {% block header %}
    {% if user.is_authenticated %}
    {% trans "Logged in" %}: {{ user.username }} 
    (<a href="{% url "auth_logout" %}">{% trans "Log out" %}</a> | 
    <a href="{% url "auth_password_change" %}">{% trans "Change password" %}</a>)
   
    <nav class="navbar navbar-default">
      <div class="container-fluid">
	

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav nav-pills navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Datasets <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/ocp/ocpuser/datasets/">View Datasets</a></li>
            <li><a href="/ocp/ocpuser/createdataset/">Create datasets</a></li>
            
            <li class="divider"></li>
            <li><a href="#">Create datasets from file</a></li>
          </ul>
        </li>
      </ul>

       <ul class="nav nav-pills navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projects <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/ocp/ocpuser/profile/">View Projects</a></li>
            <li><a href="/ocp/ocpuser/createproject/">Create Project</a></li>
	    <li><a href="/ocp/ocpuser/createdataset/">Backup Project</a></li>
	    <li><a href="/ocp/ocpuser/restoreproject/">Restore Project</a></li>
            
            <li class="divider"></li>
            <li><a href="#">Create Projects from file</a></li>
          </ul>
        </li>
      </ul>
      

        <ul class="nav nav-pills navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tokens <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
	          <input type="hidden" name="project_name" value="">
            <li><a href="/ocp/ocpuser/alltokens/">View Tokens</a></li>
            <li><a href="/ocp/ocpuser/createtoken/">Create Tokens</a></li>
	                
            <li class="divider"></li>
            <li><a href="#">Create Tokens from file</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->

    
  </div><!-- /.container-fluid -->
</nav>

  
    
	  
    {% else %}
    <a href="{% url "auth_login" %}">{% trans "Log in" %}</a>
    {% endif %}
    <hr />
    {% endblock %}
  </div>
	
  <div id="content">
    {% block content %}{% endblock %}
  </div>
  
  <div id="footer">
    {% block footer %}
    <hr />
    {% endblock %}
	  
	  
	  
	  
	  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	  <script src = "/static/js/bootstrap.js"></script>  
	  
	</body>

