{% extends "base.html" %}
{% comment %}
Create Project Template
{% endcomment %}

{% block title %}
        Create New Project
{% endblock title%}
{% block content %}
 <div class="container-fluid">
   <div class = "row-fluid">
        <div class ="span12">

	  <div id="header" style="background-color:#4682B4;" align="center">
	    <h2 style="margin-bottom:0;">CREATE NEW PROJECT</h2></div>
	</div>
   </div>
 </div>

   {{ form.errors }} 
   {{ form.non_field_errors }} 

<form method="post" action="" enctype="multipart/form-data">
   
  {{ form.non_field_errors }}

  <br>

  <div class="container-fluid">

     <div class = "row">
       <div class ="col-md-4"></div>
       <div class ="col-md-2">
         <div class="fieldWrapper">
           {{ form.subject.errors }}
           <label for="project">Project:</label>
         </div>
       </div>
       <div class ="col-md-2">
         {{ form.project_name }}
       </div>
       <div class ="col-md-4"></div>
     </div>

      <div class = "row">
      <div class ="col-md-4"></div>
      <div class ="col-md-2">
        <div class="fieldWrapper">
          {{ form.subject.errors }}
          <label for="description">Description</label>
        </div>
      </div>
      <div class ="col-md-2">
        {{ form.project_description }}
      </div>
      <div class ="col-md-4"></div>
    </div>

         <div class = "row">
           <div class ="col-md-4"></div>
           <div class ="col-md-2">
	     <div class="fieldWrapper">
	       {{ form.subject.errors }}
	       <label for="public">Public:</label>
	     </div>
           </div>
           <div class ="col-md-2">
	     {{ form.public }}
	   </div>
	   <div class ="col-md-4"></div>
         </div>

     <div class = "row">
       <div class ="col-md-4"></div>
       <div class ="col-md-2">
         <div class="fieldWrapper">
           {{ form.subject.errors }}
           <label for="dataset">Dataset</label>
         </div>
       </div>
       <div class ="col-md-2">
         {{ form.dataset }}
       </div>
       <div class ="col-md-4"></div>
     </div>
     
     <div class = "row">
       <div class ="col-md-4"></div>
       <div class ="col-md-2">
         <div class="fieldWrapper">
           {{ form.subject.errors }}
           <label for="host"> Database Host</label>
         </div>
       </div>
       <div class ="col-md-2">
         {{ form.host }}
       </div>
       <div class ="col-md-4"></div>
     </div>

      <div class = "row">
       <div class ="col-md-4"></div>
       <div class ="col-md-2">
         <div class="fieldWrapper">
           {{ form.subject.errors }}
           <label for="kvenginelabel"> KV Engine</label>
         </div>
       </div>
       <div class ="col-md-2">
         {{ form.kvengine }}
       </div>
       <div class ="col-md-4"></div>
     </div>

      <div class = "row">
       <div class ="col-md-4"></div>
       <div class ="col-md-2">
         <div class="fieldWrapper">
           {{ form.subject.errors }}
           <label for="kvserverlabel"> KV Server</label>
         </div>
       </div>
       <div class ="col-md-2">
         {{ form.kvserver }}
       </div>
       <div class ="col-md-4"></div>
     </div>

     <div class = "row">
       <div class ="col-md-4"></div>
       <div class ="col-md-2">
         <div class="fieldWrapper">
           <label for="legacylabel">Legacy Project?</label>
         </div>
       </div>
       <div class ="col-md-2">
           <select name="legacy">
              <option value="no">No</option>
              <option value="yes">Yes</option>
            </select>  
       </div>
       <div class ="col-md-4"></div>
     </div>
     
     <div class = "row">
       <div class ="col-md-4"></div>
       <div class ="col-md-2">
         <div class="fieldWrapper">
           <input type="checkbox" name="nocreate" id="nocre" value="on"> Link to existing database
         </div>
       </div>
       <div class ="col-md-2">
       </div>
       <div class ="col-md-4"></div>
     </div>

     <div class = "row">
       <div class ="col-md-4"></div>
       <div class ="col-md-2">
         <div class="fieldWrapper">
           <input type="checkbox" name="token" id='token' value="on"> Create a default token
         </div>
       </div>
       <div class ="col-md-2">
       </div>
       <div class ="col-md-4"></div>
     </div>

    <br>
         
    <div class = "row">
      <div class ="col-md-5"></div>
      <div class ="col-md-3">

	<button class="btn btn-primary" name = "createproject" type="submit">Create New Project</button>
	<button class="btn btn-primary" name = "backtoprojects" type="submit">Back to Projects</button>
        
      </div>
      <div class ="col-md-4"></div>

      
 </form>
       
{% endblock %}


