{% extends "base.html" %}
{% comment %}
Create Channel Template
{% endcomment %}

{% block title %}
Create New Channel 
{% endblock %}

<head>
  <style>
    .blue { background-color:#00F; }
    div { height: 100px; }
  </style>
</head>

{% block content %}

  <div class="container-fluid">
    <div class = "row-fluid">
      <div class ="span12">
        <div id="header" style="background-color:#4682B4;" align="center">
      	  <h2 style="margin-bottom:0;">CREATE NEW CHANNEL</h2>
        </div>
      </div>
    </div>
  </div>

  {{ form.errors }} 

  <div class="container-fluid">
    <div class = "row-fluid">
    <div class ="span1"></div>
      <div class ="span11">  
        <table class ="table">
        <thead>
          <tr class="success"><th>Project</th> <th>{{project}}</th></tr>
        </thead>
        </table>
      </div>
    </div>
  </div>

  <div id="form" >
  <form action="" method="post">

	  <div class = "row">
	    <div class ="col-md-4"></div>
	    <div class ="col-md-2 blue">
	      <div class="fieldWrapper">
	        {{ form.subject.errors }}
	        <label for="channel_name">Channel Name:</label>
	      </div>
	    </div>
	    <div class ="col-md-2">
	      {{ form.channel_name }}
	    </div>
      <div class ="col-md-4"></div>
	  </div>

	  <div class = "row">
      <div class ="col-md-4"></div>
      <div class ="col-md-2">
	      <div class="fieldWrapper">
	        {{ form.subject.errors }}
	        <label for="description">Description:</label>
	      </div>
      </div>
      <div class ="col-md-2">
	      {{ form.channel_description }}
	    </div>
	    <div class ="col-md-4"></div>
    </div>

    <div class = "row">
      <div class ="col-md-4"></div>
      <div class ="col-md-2">
        <div class="fieldWrapper">
          {{ form.subject.errors }}
          <label for="projecttype">Channel Type:</label>
        </div>
      </div>
      <div class ="col-md-2">
        <select name="channelcombo" id="channelcombo" required>
          <option value="tu:8">Images (8-bit unsigned)</option>
          <option value="tu:16">Images (16-bit unsigned)</option>
          <option value="tu:32">Images (32-bit, unsigned)</option>
          <option value="tf:32">Images (32-bit, float)</option>
          <option value="ti:8">Images (8-bit, signed)</option>
          <option value="ti:16">Images (16-bit, signed)</option>
          <option value="ti:32">Images (32-bit, signed)</option>
          <option value="a:32">Annotations</option>
          <option value="f:32">Probability Map</option>
        </select>
      </div>
      <div class ="col-md-4"></div>
    </div>


    {{form.channel_type.as_hidden}}
    {{form.channel_datatype.as_hidden}}

    <div class = "row">
      <div class ="col-md-4"></div>
      <div class ="col-md-2">
	      <div class="fieldWrapper">
	        {{ form.subject.errors }}
	        <label for="readonly">Read only:</label>
	      </div>
      </div>
      <div class ="col-md-2">
	      {{ form.readonly }}
	    </div>
      <div class ="col-md-4"></div>
    </div>

    <div class = "row">
      <div class ="col-md-4"></div>
      <div class ="col-md-2">
        <div class="fieldWrapper">
          {{ form.subject.errors }}
          <label for="resolution">Resolution (for annotations):</label>
        </div>
      </div>
      <div class ="col-md-2">
        {{ form.resolution }}
      </div>
      <div class ="col-md-4"></div>
    </div>

    <div class = "row">
      <div class ="col-md-4"></div>
      <div class ="col-md-2">
        <div class="fieldWrapper">
          {{ form.subject.errors }}
          <label for="exceptions">Exceptions (for annotations):</label>
        </div>
      </div>
      <div class ="col-md-2">
        {{ form.exceptions }}
      </div>
      <div class ="col-md-4"></div>
    </div>

    <div class = "row">
      <div class ="col-md-4"></div>
      <div class ="col-md-2">
        <div class="fieldWrapper">
	        {{ form.subject.errors }}
          <label for="starttime">Start Time:</label>
        </div>
      </div>
      <div class ="col-md-2">
	      {{ form.starttime }}
      </div>
      <div class ="col-md-4"></div>
    </div>

	  <div class = "row">
      <div class ="col-md-4"></div>
      <div class ="col-md-2">
        <div class="fieldWrapper">
          {{ form.subject.errors }}
          <label for="endtime">End Time:</label>
        </div>
      </div>
      <div class ="col-md-2">
        {{ form.endtime }}
      </div>
      <div class ="col-md-4"></div>
    </div>


    <div class = "row">
      <div class ="col-md-4"></div>
      <div class ="col-md-2">
        <div class="fieldWrapper">
          {{ form.subject.errors }}
           <label for="startwindow">Start Window:</label>
        </div>
      </div>
      <div class ="col-md-2">
        {{ form.startwindow }}
      </div>
      <div class ="col-md-4"></div>
    </div>

    <div class = "row">
      <div class ="col-md-4"></div>
      <div class ="col-md-2">
        <div class="fieldWrapper">
          {{ form.subject.errors }}
          <label for="endwindow">End Window:</label>
        </div>
      </div>
      <div class ="col-md-2">
        {{ form.endwindow }}
      </div>
      <div class ="col-md-4"></div>
    </div>

    <div class = "row">
      <div class ="col-md-4"></div>
      <div class ="col-md-2">
        <div class="fieldWrapper">
          {{ form.subject.errors }}
          <label for="endwindow">Set as Default Channel:</label>
        </div>
      </div>
      <div class ="col-md-2">
        {{ form.default }}
      </div>
      <div class ="col-md-4"></div>
    </div>

    <div class = "row">
      <div class ="col-md-4"></div>
      <div class ="col-md-2">
        <div class="fieldWrapper">
          {{ form.subject.errors }}
          <label for="endwindow">Link to Existing Channel:</label>
        </div>
      </div>
      <div class ="col-md-2">
        <input type="checkbox" name="nocreate" id="nocre" value="on"> 
      </div>
      <div class ="col-md-4"></div>
    </div>

    <div class = "row">
      <div class ="col-md-4"></div>
      <div class ="col-md-2">
        <div class="fieldWrapper">
          {{ form.subject.errors }}
          <label for="propagate">If existing, is it propagated?</label>
        </div>
      </div>
      <div class ="col-md-2">
        {{ form.propagate }}
      </div>
      <div class ="col-md-4"></div>
    </div>

    <br>

    {{form.project.as_hidden}}

	  <div class = "row">
	    <div class ="col-md-5"></div>
	    <div class ="col-md-3">
      	 <button class="btn btn-primary" name = "createchannel" type="submit">Create Channel</button>
  	     <button class="btn btn-primary" name = "backtochannels" type="submit">Back to Channels</button>
      </div>
      <div class ="col-md-4"></div>
    </div>

  </form>  
  </div>

{% endblock %}

