{% extends "base.html" %}
{% comment %}
Create Token Template
{% endcomment %}

{% block title %}
Create New Token 
{% endblock %}

<head>
  <style>
    .blue { background-color:#00F; }
    div { height: 100px; }
  </style>
</head>

{% block content %}

  <div class="container-fluid">
    <div class = "row-fluid">
      <div class ="span12">
        <div id="header" style="background-color:#4682B4;" align="center">
          <h2 style="margin-bottom:0;">CREATE NEW TOKEN</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class = "row-fluid">
    <div class ="span1"></div>
      <div class ="span11">  
        <table class ="table">
        <thead>
          <tr class="success"><th>Project</th> <th>{{project}}</th></tr>
        </thead>
        </table>
      </div>
    </div>
  </div>

  <div id="form" >
  <form action="" method="post">

    {{ form.non_field_errors }}

    {{form.project.as_hidden}}

    <br>

	  <div class = "row">
	    <div class ="col-md-4"></div>
	    <div class ="col-md-2 blue">
	      <div class="fieldWrapper">
	        {{ form.subject.errors }}
	        <label for="token_name">Token:</label>
	      </div>
	    </div>
	    <div class ="col-md-2">
	      {{ form.token_name }}
	    </div>
	    <div class ="col-md-4"></div>
	  </div>
        
	  <div class = "row">
      <div class ="col-md-4"></div>
      <div class ="col-md-2">
	      <div class="fieldWrapper">
	        {{ form.subject.errors }}
	        <label for="description">Description:</label>
	      </div>
      </div>
      <div class ="col-md-2">
	      {{ form.token_description }}
	    </div>
	    <div class ="col-md-4"></div>
    </div>

    <div class = "row">
      <div class ="col-md-4"></div>
      <div class ="col-md-2">
	      <div class="fieldWrapper">
	        {{ form.subject.errors }}
	        <label for="public">Public:</label>
	      </div>
      </div>
      <div class ="col-md-2">
	      {{ form.public }}
	    </div>
	    <div class ="col-md-4"></div>
    </div>
	 
    <br> 

	  <div class = "row">
	    <div class ="col-md-5"></div>
	    <div class ="col-md-3">
  	    <button class="btn btn-primary" name = "createtoken" type="submit">Create Token</button>
        <button class="btn btn-primary" id="Back to Tokens" type="submit" name="backtotokens"> <i class ="icon-inbox icon-black"></i>Back to Tokens</button>
	    </div>
      <div class ="col-md-4"></div>
    </div>
  </form>  
  </div>

{% endblock %}


