{% extends "base.html" %}

{% block title %}
     Projects 
{% endblock title %}


{% block content %}
<ul>
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>


<form class="form-inline" method="post" action="">

  
  <div class="container-fluid">
    <div class = "row-fluid">
      
      <div class ="span12">
	<div id="header" style="background-color:#4682B4;" align="center">  
	  <h2 style="margin-bottom:0;">PROJECTS</h2></div>
      </div>
    </div>
  </div>
  

  <div class="container-fluid">
    <div class = "row-fluid">
      <div class ="span3"></div>
      <div class ="span6">
	<div id="content" style="background-color:#F5F6CE;float:left;">
	  
	  Filter By:
	  <select name="filteroption">
	    <option value="project">Project</option>
	    <option value="datatype">Datatype</option>
	  </select>
	  
	  <input type="text"  name="filtervalue" placeholder="Enter Filter Value">
	  <button type="submit" class= "btn" name ="filter">Filter Projects </button>
	  
	</div>
	<div class ="span3"></div>
      </div>
    </div>
  </div>

</form>
<body>

<form method="post" action="">
 
 <div class="container-fluid">
    <div class = "row-fluid">
      	<div class ="span1"></div>
	<div class ="span10">
	  <table class ="table">
	    {% for key, value in databases %}
	    
	    <thead>
	      <tr class="success"><th>Dataset</th> <th>{{key.0}}</th></tr>
	    </thead>
	    <tr>
	      <td></td>
	      <td>
		<table class="table table-bordered">
		  {% for proj in value %}
		  <tr class ="error">
		    <th>Project</th>
		    <th>Type</th>
		    <th>Description</th>
		  </tr>	   
		  
		  {% for field in proj %}
		  <form method="post" action = "">
		    <tr>
		      <input type="hidden" name="projname" value={{field.3}}>
		      <td style="width: 15%;">{{ field.3 }}</td>
		      {% if field.4 == 1 %}
		      <td>IMAGE</td>
		      {% elif field.4 == 2%}
		      <td>ANNOTATION</td>
		      {% elif field.4 == 3%}
		      <td>CHANNEL 8bit</td>
		      {% elif field.4 == 4%}
		      <td>CHANNEL 16bit</td>
		      {% elif field.4 == 5%}
                      <td>PROBMAP 32bit</td>
		      {% elif field.4 == 6%}
                      <td>BITMASK</td>
		      {% elif field.4 == 7%}
                      <td>ANNOTATION 64bit</td>
		      {% else %}
		      <td>OTHER</td>
		      {% endif %}
		      <td colspan=50>{{ field.11 }}</td>
<!--		      <td><button class="btn" id="delete" type="submit" name="delete"> <i class ="icon-trash icon-black"></i>Delete Project</button></td>
-->
		      <td><button class="btn" id="backup" type="submit" name="backup"> <i class ="icon-inbox icon-black"></i>Backup Project</button></td>
		      <td><button class="btn" id="tokens" type="submit" name="tokens"> <i class ="icon-inbox icon-black"></i>View Tokens</button></td>
		  </form>	  
		  {% endfor %}         
		  
		  {% empty %}
		  <li>No Projects Available!</li>
		  {% endfor %}         
	      </table></td>
	    </tr>
	    {% empty %}
	    <li>No Projects Available!</li>
	    {% endfor %}      
	  </table>
	</div>
	<div class ="span1"></div>
    </div>
 </div>
  


</form>








</body>



{% endblock content %}


