{% extends "base.html" %}

{% block title %}Log In | OCP {% endblock %}

{% block content %}
  {% if form.errors %}
    <div id="errors">
      <p>Sorry, your username and password didn't match our records. Please try again.</p>
      <p>If you don't have an account yet, you should <a href="{% url "registration_register" %}">register one</a>.</p>
    </div>
  {% endif %}

  <div id="login">
    <div id="content">
        <form  class="form-horizontal" method="post" action=".">{% csrf_token %}
	  <div class="form-group">
	    <label for="inputEmail" class="col-lg-2 control-label"> {{ form.username.label_tag }}</label>
	    <div class="col-lg-2">
	      {{ form.username }} 
	    </div>
	  </div>
	  <br>
	  <div class="form-group">
	    <label for="inputPassword" class="col-lg-2 control-label">{{ form.password.label_tag }}</label>
	    <div class="col-lg-2">
	       {{ form.password }}
	    </div>
	  </div>

	  <p class="submit">
	    <button type="submit" class="btn btn-default">Sign in</button>

	    <input type="hidden" name="next" value="/ocp/ocpuser/profile/" /> {# TEMPORARY#}
	    {#<input type="hidden" name="next" value="{{ next }}" /> #}
	  </p>
	</form>
	
	<p class="register">
	  Don't have an account? <a href="{% url "registration_register" %}">Register!</a>
          {# Forgot your password? <a href="{% url "password_reset" %}">Set a new one</a>. #}
	</p>
	
    </div>
  </div>


{% endblock content %}
