<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html lang="en">
    <head>
      <!-- Style sheet and logo image -->
      <link  rel="shortcut icon" type="image/x-icon" href= "{% static 'images/favicon.ico' %}"/>
      <link rel="stylesheet" type="text/css" href="{% static 'default.css' %}"/>

      <title>
      {% block title %}
        {# Title here!#}
      {% endblock title %}
      </title>

  {% block customheader %}{% endblock %}
    </head>

  <body>
    <a href="http://s1061.beta.photobucket.com/user/dmhembe/media/MR-connectome/openconnectome_brain_logo_zpsd1e2d1fd.png.html" target="_blank"><img src="http://i1061.photobucket.com/albums/t473/dmhembe/MR-connectome/openconnectome_brain_logo_zpsd1e2d1fd.png" border="0" alt="openconnectine_brain_logo photo openconnectome_brain_logo_zpsd1e2d1fd.png"/></a>
    
     <!-- Navigation pane -->
     <div class="container">
           <div class="navigation">
	         <a href="/welcome/">Home</a>
		  <a href="/create/">Create Project</a>
		  <a href="/restore/">Restore</a>
	   </div>
     </div>

  <!-- Logged in status -->
    <div id="loginStatus">
    {% if user.is_authenticated %}
        <b><FONT COLOR='#07c4ce'> Hi, {{ user.username }} </FONT></b>
    </div>
    {% endif %}

  {% block content %}
  {% endblock %}

  </body>
</html>
