#################################################################
# Requirements file for Ndstore
# Maintainer : Kunal Lillaney <lillaney@jhu.edu>
# Instructions to add new packages:
# 1. Do not specify pacakge version untill absoutely required
# 2. Add your package to one of the sub-categories. If unsure add them to the misc section
# 3. Run this with the command "pip install -U -r requirements.txt"
#################################################################
#
# Basic Formats
cython
numpy
h5py
blosc
#
# Django and other piping
uwsgi
django
django-registration
django-celery
django-cors-headers
#
# Key value engines
boto3
mysql-python
cassandra-driver
riak
redis
#
# Imaging and packaging libraries
pillow
libtiff
lxml
nibabel
#
# JSON packages
jsonschema
json-spec
#
# Misc packages
pytest
posix-ipc
networkx
requests
