<!DOCTYPE html>
<html>
<head>
  <title>ocpviz: viewing {{ project_name }}</title>
  {% load staticfiles %}
  {# boostrap files #}
  <link rel="stylesheet" type ="text/css" href="{% static 'css/bootstrap.css' %}" />
  
  {# leaflet files #}
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<style>
    body {
			padding: 50px 0px 0px 0px; /* 50px for navbar */
			margin: 0;
		}
		html, body, #map {
			height: 100%;
			width: 100%;
		}
    .coordinate-nav {
      width: 50px;
      display:inline-block;
    }
    .has-error .form-control{
      border-width: 3px;
      border-color: #FF2D2D !important;
    }
    .leaflet-container {
			background: #000 !important;
		}
		.info {
			padding: 6px 8px;
			font: 14px/16px Arial, Helvetica, sans-serif;
			background: white;
			background: rbga(255,255,255,0.8);
			box-shadow: 0 0 15px rbga(0,0,0,0.2);
			border-radius: 2px;
		} 
    .info h4 {
			margin: 0 0 5px; 
			color: #777;
    }
    .keyhelp {
      display: none;
      background: rgb(34, 34, 34);
      color: rgb(157, 157, 157);
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 2px;
    }
    /*
    .coordinates {
      position: fixed;
      margin-left: 110px !important;
      padding: 5px;
      background: white;
      background: rbga(255,255,255,0.8);
      box-shadow: 0 0 15px rbga(0,0,0,0.2);
      border-radius: 2px;
    }*/
	</style>
	<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="{% static "ocpviz/js/easy-button.js" %}"></script>	
  <script src="{% static "ocpviz/js/ocp-leaflet.js" %}"></script>	
	</head>
<body>
  {# manage modal TODO #}
  <div class="modal fade" id="manage" tabindex="-1" role="dialog" aria-labelledby="manageModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="manageLabel">Manage Project</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>  
        </div>
       </div>
     </div>
  </div>

  {# end manage modal #} 
  
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">ocpviz</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#">Projects</a></li>
      </ul>
      <form id="navigate" class="navbar-form navbar-left" role="search" action="">
        <div class="form-group">
          <input type="text" id="x" size="5" class="form-control" placeholder="x" aria-describedby="xlabel">
        </div>
        <div class="form-group">
          <input type="text" id="y" size="5" class="form-control" placeholder="y" aria-describedby="ylabel">
        </div>
        <div class="form-group">
          <input type="text" id="z" size="5" class="form-control" placeholder="z" aria-describedby="zlabel"> 
        </div>
        <button type="submit" class="btn btn-default">Go</button>
      </form>
      <ul class="nav navbar-nav navbar-left">
        <li id="querybutton" class="active"><a href="#" id="query">Query</a></li>
        <li><a href="#">Merge</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Help</a></li>
        <li><a href="#" data-toggle="modal" data-target="#manage">Manage</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </nav>

  <div id="map"></div>
  <script> 
    // tool variables
    var querytool = true; // enabled by default
    var mergetool = false; // disabled by default
    
    // dataset info 
    var xmin = {{ xoffset }};	
    var xmax = {{ xsize }};
    var ymin = {{ yoffset }};
    var ymax = {{ ysize }};

    // we assume all projects start at res 0 
    // this is pretty safe, since the default display is zoomed all the way out
    var minres = 0;
    var maxres = {{ res }};
    var zmin = {{ zoffset }};
    var zmax = {{ zsize }};
    // set zindex to some default (we pick the lowest slice)  
    var zindex = {{ zoffset }};

    // define layers
    {% for layer in layers %}
      {# setup the URL #} 
      
      {% if layer.channel %}
        var webtoken = '{{ layer.token }}/{{ layer.channel.channel_name }}'; 
      {% else %}
        var webtoken = '{{ layer.token }}';
      {% endif %}

      {% if layer.tilecache %} 
          var url = 'http://{{ layer.server }}/ocpcatmaid/tilecache/' + webtoken + '/xy/{zindex}/{y}_{x}_{z}.png';
      {% else %}
          var url = 'http://{{ layer.server }}/ocp/catmaid/' + webtoken + '/xy/{zindex}/{y}_{x}_{z}.png';
      {% endif %}
        
      console.log(url);    
      
      {# add the layer #}  
      var {{ layer.layer_name|cut:" " }} = L.tileLayer.SmoothReload(
        url,
        {
          zindex: zindex,
          zoomReverse: true,
          minZoom: maxres,
          maxZoom: maxres + maxres,
          tileSize: 512,
          {% if layer.layertype == 'annotation' %}
          opacity: 0.4,
          {% endif %}
          noWrap: true,
        })
    {% endfor %}
  
     // bind it all together
		var map = L.map('map', {
      layers: [{% spaceless %}
      {% for layer in layers %}{{ layer.layer_name|cut:" " }}{% if not forloop.last %},{% endif %}{% endfor %}
      {% endspaceless %}],
			doubleClickZoom: false,
    });
    
    var center = map.unproject(L.point({{ xdownmax }}/2, {{ ydownmax }}/2), maxres);
		map.setView(center, maxres);

		// display some map info
		var info = L.control();
		info.options.position = 'topright';
		info.onAdd = function (map) {
			this._div = L.DomUtil.create('div', 'info');
			this.update();
			return this._div;
		};

		info.update = function () {
      var header = '<h4>Current Project</h4><strong>{{ project_name }}</strong><br />';
      var datainfo = 'x: (' + xmin + ', ' + xmax + ')<br />' + 
        'y: (' + ymin + ', ' + ymax + ')<br />' +
        'z: (' + zmin + ', ' + zmax + ')<br />';
      var curslice = '<br />Current Slice: ' + zindex;
      this._div.innerHTML = header + datainfo + curslice;
			//	+ 'Z Index: ' + zindex;
		};

		info.addTo(map);

    // layer controls
    var emMaps = {{% spaceless %}
      {% for layer in layers %}
        {% if layer.layertype == 'IMAGES' %}
        "{{ layer.layer_name }}" : {{ layer.layer_name|cut:" " }},
        {% endif %}
      {% endfor %}
    }
    {% endspaceless %}

    var annoMaps = {{% spaceless %}
      {% for layer in layers %}
        {% if layer.layertype == 'ANNOS' %}
        "{{ layer.layer_name }}" : {{ layer.layer_name|cut:" " }},
        {% endif %}
      {% endfor %}
    }
    {% endspaceless %}

		L.control.layers(emMaps, annoMaps).addTo(map);

    // navigation 
    // first, intercept the form 
    $( "#navigate" ).submit(function( event ) {
      // clear errors
      $( "#x" ).parent().removeClass("has-error");
      $( "#y" ).parent().removeClass("has-error");
      $( "#z" ).parent().removeClass("has-error");
      // if a zindex was entered, navigate to that slice 
      if ( $( "#z" ).val() ) {
        var z = $( "#z" ).val();
        if (z <= zmax && z >= zmin) {
          chgZIndex(z);
        }
        else {
          $( "#z" ).parent().addClass("has-error");
        }
      }

      // if a valid (x,y) pair was entered, place a marker
      if ( $( "#x" ).val() && $( "#y" ).val()) {
        var x = $( "#x" ).val();
        var y = $( "#y" ).val();

        // validate
        if ( x > xdownmax || x < xmin ) {
          $( "#x" ).parent().addClass("has-error"); 
        }
        else if ( y > ydownmax || y < ymin ) {
          $( "#y" ).parent().addClass("has-error");
        }
        else {
          // pan the map to center on these coordinates
          var point = L.point(x, y);
          map.panTo(map.unproject(point));
          // place a marker
          // TODO 
        } 
      }
      else {
        if ( $( "#x" ).val() && !$( "#y" ).val() ) {
          $( "#y" ).parent().addClass("has-error");
        }
        else if ( $( "#y" ).val() && !$( "#x" ).val() ) {
          $( "#x" ).parent().addClass("has-error");
        }  
      } 
      event.preventDefault();
    });

		// z-index arrows 
		L.easyButton('fa-arrow-up',
				incZIndex,
				'Increase Z-Index'
		);
		L.easyButton('fa-arrow-down',
				decZIndex,
				'Decrease Z-Index'
		);

    function chgZIndex(newz) {
      map.closePopup();
      var oldzindex = zindex;
			zindex = parseInt(newz);
			reloadLayers(oldzindex);
    }

		function incZIndex() {
      map.closePopup();
      var oldzindex = zindex;
			zindex = zindex + 1;
			reloadLayers(oldzindex);
		}

		function decZIndex() {
      map.closePopup();
			var oldzindex = zindex;
			zindex = zindex - 1;
			reloadLayers(oldzindex);
		}

		function reloadLayers() {
			map.options.fadeAnimation = false;
			map.eachLayer( function (layer) {
					layer.options.zindex = zindex;
					layer.smoothRedraw();
			});
			map.options.fadeAnimation = true;
			info.update()
		}

		// get anno id from coordinate
    // expects a L.point object for point and a number for zoom
    // TODO add a query layer selector
    // TODO if the server is localhost (the query server) that doesnt work
    // TODO need a way to select the query layer (dropdown?)
    // TODO get the server from the query layer 
		function getAnnoId(point, zoom) {
      var ocpUrlBase = "http://{{ request.get_host }}/ocp/viz/query/dsp061/ca/kharris15apical_anno/id/" + zoom + "/";
			var cutout = Math.round(point.x) + "/" + Math.round(point.y) + "/" + zindex + "/"; 
			var ocpUrl = ocpUrlBase.concat(cutout);
      // store the return data
			var data = null;

			// make request 
			var xmlHttp = new XMLHttpRequest();
			xmlHttp.open( "GET", ocpUrl, false );
			xmlHttp.send( null );

			return xmlHttp.responseText;

		}

		// popup on click (testing get anno id) 
		var popup = L.popup();
		function onMapClick(e) {
      if (querytool) {
        var reqPoint = map.project(e.latlng);	
        popup
          .setLatLng(e.latlng)
          .setContent("You requested anno " + getAnnoId(reqPoint, map.getMaxZoom() - map.getZoom()))
          .openOn(map);
      } 
      else if (mergetool) {
        // do something 
      }
		}
		map.on('click', onMapClick);

    // keyboard shortcuts
    $(document).keypress(function(event) {
      if ( !$(event.target).is('input')) {
        console.log(event.which);
        switch (event.which) {
          case 104: // h -- help
            toggleKeyboardHelp();
            break;
          case 119: // w -- zindex++
            incZIndex();
            break;
          case 115: // s -- zindex--
            decZIndex();
            break;
          case 97: // a -- zoom out
            map.zoomOut()
            break;
          case 100: // d -- zoom in
            map.zoomIn()
            break;
          default:
            // do nothing

        }
      } 
    });
    function toggleKeyboardHelp() {
      if ($( ".keyhelp" ).css("display") == "none") {
        $( ".keyhelp" ).fadeIn( 1000, function() {
          // Animation complete
        });
      }
      else {
        $( ".keyhelp" ).fadeOut( 500, function() {
          // Animation complete
        });
      }
    } 

    // tools
    // query tool
    $( '#query' ).click(function(event) {
      $( '#querybutton' ).toggleClass('active');
      querytool = !querytool;
    });

    // add keyboard help to map
		var keyhelp = L.control();
		keyhelp.options.position = 'bottomleft';
		keyhelp.onAdd = function (map) {
			this._div = L.DomUtil.create('div', 'keyhelp');
			this.update();
			return this._div;
		};

		keyhelp.update = function () {
      this._div.innerHTML = 
      "<h5>Keyboard Shortcuts</h5><ul class='list-unstyled'>" +
        "<li><kbd>h</kbd> display help</li>" + 
        "<li><kbd>w</kbd> increase z-index</li>" + 
        "<li><kbd>a</kbd> zoom out</li>" + 
        "<li><kbd>s</kbd> decrease z-index</li>" + 
        "<li><kbd>d</kbd> zoom in</li>" + 
        "</ul><small>Press <kbd>h</kbd> to close.</small>";
		};
    
    keyhelp.addTo(map);

	</script>
</body>
{# jquery and bootstrap js #}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
</html>


