<!DOCTYPE html>
<html>
<head>
  <title>ocpviz: viewing {{ project_name }}</title>
  {% load staticfiles %}
  {# boostrap files #}
  <link rel="stylesheet" type ="text/css" href="{% static 'css/bootstrap.css' %}" />

  {# jquery UI #}
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

  {# leaflet files #}
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<style>
    body {
			padding: 50px 0px 0px 0px; /* 50px for navbar */
			margin: 0;
		}
		html, body, #map {
			height: 100%;
			width: 100%;
		}
    .coordinate-nav {
      width: 50px;
      display:inline-block;
    }
    .has-error .form-control{
      border-width: 3px;
      border-color: #FF2D2D !important;
    }
    .leaflet-container {
			background: #000 !important;
		}
		.info {
      padding: 8px 8px;
      width: 300px;
			font: 14px/16px Arial, Helvetica, sans-serif;
			background: white;
			background: rbga(255,255,255,0.8);
			box-shadow: 0 0 15px rbga(0,0,0,0.2);
			border-radius: 2px;
    }
    .info-layer-name {
      float: left;
      width: 35%;
      padding-top: 5px;
      padding-left: 10px;
    }
    #opacity-control > span {
      float: right;
      width: 60%;
      margin: 5px;
    }
    .info h4 {
			margin: 0 0 5px; 
			color: #777;
    }
    .keyhelp {
      display: none;
      background: rgb(34, 34, 34);
      color: rgb(157, 157, 157);
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 2px;
    }

    /*
    .coordinates {
      position: fixed;
      margin-left: 110px !important;
      padding: 5px;
      background: white;
      background: rbga(255,255,255,0.8);
      box-shadow: 0 0 15px rbga(0,0,0,0.2);
      border-radius: 2px;
    }*/
	</style>
	<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="{% static "ocpviz/js/easy-button.js" %}"></script>	
  <script src="{% static "ocpviz/js/ocp-leaflet.js" %}"></script>	
	</head>
<body>
  {# help modal #}
  <div class="modal fade" id="help" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="helpLabel">ocpviz help</h4>
        </div>
        <div class="modal-body">
          <h2>Welcome to ocpviz!</h2>
            <p>ocpviz is a web tool for viewing datasets stored using Open Connectome Project (OCP) software. All OCP datatypes are supported. ocpviz also supports data interaction, included object querying for annotation layers and the ability to place markers and share their locations with collaborators. We also support keyboard shortcuts for navigation, layer opacity controls, and false coloring.</p>
          <h3>URLs</h3>
            <p>The primary way to access a project in ocpviz is by entering a token in the URL. ocpviz uses the following URL format: <br /><code>/viz/token/channel1,channel2/res/x/y/z/</code></p>
            <table class="table table-condensed">
              <tr>
                <td><samp>token</samp></td>
                <td>The token associated with the OCP project.</td>
              </tr>
              <tr>
                <td><samp>channelN</samp></td>
                <td>A comma separated list of channels. If no channels are included, all channels for a given project will automatically be added to the viewing session.</td>
              </tr>
              <tr>
                <td><samp>x, y, z, res</samp></td>
                <td>Similar to an OCP cutout, these arguments center the map at the coordinator <samp>(x, y, z)</samp> for a given resolution <samp>(res)</samp>.<p class="bg-danger">Note: When specifying an initial center, all four arguments must be specified!</p></td>
              </tr>
            </table>
            The order of the channels in the URL is the order channels will be displayed on the map. For an annotation project with underlying EM data, you would want to specify <code>/em,annos/</code>, and not <code>/annos,em/</code>. Otherwise, your annotation layer will be hidden by the EM layer. 
            <h4>False Coloring (color masks)</h4>
            <p>Some channels can be masked with a false color by adding a color argument to the URL. Color arguments are added after the channel name in the following format:<br /><code>channel1:B</code><br />Support colors are:</p>

            <table class="table table-condensed">
              <tr>
                <td><strong>C</strong></td>
                <td>cyan</td>
              </tr>
              <tr>
                <td><strong>M</strong></td>
                <td>magenta</td>
              </tr>
              <tr>
                <td><strong>Y</strong></td>
                <td>yellow</td>
              </tr>
              <tr>
                <td><strong>R</strong></td>
                <td>red</td>
              </tr>
              <tr>
                <td><strong>G</strong></td>
                <td>green</td>
              </tr>
              <tr>
                <td><strong>B</strong></td>
                <td>blue</td>
              </tr>
            </table>
            <p class="text-danger">Note: Color codes in the URL must match the character above, but are not case sensitive.</p> 
          <h3>Tools</h3>
            <h4>Navigation</h4>
            <p>On the left side of the screen, the <kbd>+</kbd> and <kbd>-</kbd> buttons allow you to zoom in and out on the map. Zooming unloads the current resolution, and then loads the next resolution stored in the OCP spatial database.</p>
            <p>The <strong>up</strong> and <strong>down</strong> arrows (left) allow you to navigate in z-space.</p>
            <p>The <strong>navigation form</strong> in the navbar allows you to center the map on a given coordinate (x,y,z). Centering will also place a marker at that coordinate. You can also use the navbar to pan only in (x, y), or to jump to a given z slice.</p>
            <h4>Interaction</h4>
            <p>The <strong>Query</strong> tool enables or disables the query system. When enabled, clicking on a location in the map will query the OCP database for the object ID at that location. Note that you must have an annotation channel loaded for the query tool to operate.</p>
            <p>The <strong>Markers</strong> dropdown controls markers on the image, and allows for adding a marker, clearing all markers, or getting a list of markers with their coordinates.</p>
          <h3>Keyboard Shortcuts</h3>
          For a list of keyboard shortcuts, press the <kbd>h</kbd> key. 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
       </div>
     </div>
  </div>

  {# end help modal #} 
  
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">ocpviz</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#">Projects</a></li>
      </ul>
      <form id="navigate" class="navbar-form navbar-left" role="search" action="">
        <div class="form-group">
          <input type="text" id="x" size="5" class="form-control" placeholder="x" aria-describedby="xlabel">
        </div>
        <div class="form-group">
          <input type="text" id="y" size="5" class="form-control" placeholder="y" aria-describedby="ylabel">
        </div>
        <div class="form-group">
          <input type="text" id="z" size="5" class="form-control" placeholder="z" aria-describedby="zlabel"> 
        </div>
        <button type="submit" class="btn btn-default">Go</button>
      </form>
      <ul class="nav navbar-nav navbar-left">
        <li id="querybutton"><a href="#" id="query">Query</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Markers<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#" id="addmarker">Add Marker</a></li>
            <li><a href="#" id="clearmarkers">Clear All</a></li>
            <li><a href="#" id="listmarkers">Get List</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" data-toggle="modal" data-target="#help">Help</a></li>
      </ul>
    </div>
  </nav>

  <div id="map"></div>
  <script> 
    // tool variables
    var querytool = false; // disabled by default
    
    // dataset info 
    var xmin = {{ xoffset }};	
    var xmax = {{ xsize }};
    var ymin = {{ yoffset }};
    var ymax = {{ ysize }};

    // we assume all projects start at res 0 
    // this is pretty safe, since the default display is zoomed all the way out
    var minres = 0;
    var maxres = {{ res }};
    var zmin = {{ zoffset }};
    var zmax = {{ zsize }};
    // set zindex to some default (we pick the lowest slice)  
    var zindex = {{ zstart }};

    // define layers
    {% for layer in layers %}
      {# setup the URL #} 
      
      {% if layer.channel %}
        var webtoken = '{{ layer.token }}/{{ layer.channel.channel_name }}';
        {% if layer.color %}
          webtoken = webtoken + ':{{layer.color}}';
        {% endif %}
      {% else %}
        var webtoken = '{{ layer.token }}';
      {% endif %}

      {% if layer.tilecache %} 
          var url = 'http://{{ layer.server }}/ocpcatmaid/tilecache/' + webtoken + '/xy/{zindex}/{y}_{x}_{z}.png';
      {% else %}
        {% if layer.color %}
          var url = 'http://{{ layer.server }}/ocp/catmaid/mcfc/' + webtoken + '/xy/{zindex}/{y}_{x}_{z}.png';
        {% else %}  
          var url = 'http://{{ layer.server }}/ocp/catmaid/' + webtoken + '/xy/{zindex}/{y}_{x}_{z}.png';
        {% endif %}
      {% endif %}
        
      console.log(url);    
      
      {# add the layer #}  
      var {{ layer.layer_name|cut:" " }} = L.tileLayer.SmoothReload(
        url,
        {
          zindex: zindex,
          zoomReverse: true,
          minZoom: maxres,
          maxZoom: maxres + maxres,
          tileSize: 512,
          {% if layer.layertype == 'annotation' %}
          opacity: 0.4,
          {% endif %}
          noWrap: true,
        })
    {% endfor %}
  
     // bind it all together
		var map = L.map('map', {
      layers: [{% spaceless %}
      {% for layer in layers %}{{ layer.layer_name|cut:" " }}{% if not forloop.last %},{% endif %}{% endfor %}
      {% endspaceless %}],
			doubleClickZoom: false,
    });
    
    var center = map.unproject(L.point({{ xstart }}, {{ ystart }}), {{ resstart }});
		map.setView(center, maxres);

    {% if marker == True %}
      // add a marker to the center 
      L.marker(center).addTo(map);
    {% endif %}

		// display some map info
		var info = L.control();
		info.options.position = 'topright';
		info.onAdd = function (map) {
			this._div = L.DomUtil.create('div', 'info');
      var header = '<h4>{{ project_name }}</h4>';
      var datainfo = '<div id="opacity-control">{% spaceless %}
        {% for layer in layers %}
          <div class="info-layer-name"><a href="#">{{ layer.layer_name|cut:" " }}</a></div>
          <span>{{ layer.layer_name|cut:" " }}</span><br />
        {% endfor %}
        {% endspaceless %}</div>';
      //var datainfo = '<div id="slider"></div>';
      var curslice = '<br /><div id="zindex">z-index: ' + zindex + "</div>";
      this._div.innerHTML = header + datainfo + curslice;
			return this._div;
		};

		info.update = function () {
      
      $( "#zindex" ).replaceWith( "<div id='zindex'>z-index: " + zindex + "</div>" );
      //var header = '<h4>{{ project_name }}</h4>';
      //var datainfo = '<div id="slider"></div>';
      //var datainfo = '{% spaceless %}{% endspaceless %}

      //var datainfo = 'x: (' + xmin + ', ' + xmax + ')<br />' + 
      //  'y: (' + ymin + ', ' + ymax + ')<br />' +
      //  'z: (' + zmin + ', ' + zmax + ')<br />';
      //var curslice = '<br />z-index: ' + zindex;
      //this._div.innerHTML = header + datainfo + curslice;
			//	+ 'Z Index: ' + zindex;
		};

		info.addTo(map);

    // navigation 
    // first, intercept the form 
    $( "#navigate" ).submit(function( event ) {
      event.preventDefault();
      // clear errors
      $( "#x" ).parent().removeClass("has-error");
      $( "#y" ).parent().removeClass("has-error");
      $( "#z" ).parent().removeClass("has-error");

      // if a valid (x,y) pair was entered, pan and place a marker
      // note, need to pan before changing slices 
      if ( $( "#x" ).val() && $( "#y" ).val()) {
        var x = $( "#x" ).val();
        var y = $( "#y" ).val();

        // validate 
        if ( x > xmax || x < xmin ) {
          $( "#x" ).parent().addClass("has-error"); 
        }
        else if ( y > ymax || y < ymin ) {
          $( "#y" ).parent().addClass("has-error");
        }
        else {
          // pan the map to center on these coordinates
          console.log('placing marker');
          var point = L.point(x, y);
          var projpoint = map.unproject(point, 2*maxres - map.getZoom());

          map.panTo(projpoint);
          // place a marker
          L.marker(projpoint).addTo(map); 
        } 
      }
      else {
        if ( $( "#x" ).val() && !$( "#y" ).val() ) {
          $( "#y" ).parent().addClass("has-error");
        }
        else if ( $( "#y" ).val() && !$( "#x" ).val() ) {
          $( "#x" ).parent().addClass("has-error");
        }  
      } 
      // if a zindex was entered, navigate to that slice 
      if ( $( "#z" ).val() ) {
        var z = $( "#z" ).val();
        if (z <= zmax && z >= zmin) {
          chgZIndex(z);
        }
        else {
          $( "#z" ).parent().addClass("has-error");
        }
      }
     
    });

		// z-index arrows 
		L.easyButton('fa-arrow-up',
				incZIndex,
				'Increase Z-Index'
		);
		L.easyButton('fa-arrow-down',
				decZIndex,
				'Decrease Z-Index'
		);

    function chgZIndex(newz) {
      map.closePopup();
      var oldzindex = zindex;
			zindex = parseInt(newz);
			reloadLayers(oldzindex);
    }

		function incZIndex() {
      map.closePopup();
      var oldzindex = zindex;
			zindex = zindex + 1;
			reloadLayers(oldzindex);
		}

		function decZIndex() {
      map.closePopup();
			var oldzindex = zindex;
			zindex = zindex - 1;
			reloadLayers(oldzindex);
		}

		function reloadLayers() {
			map.options.fadeAnimation = false;
			map.eachLayer( function (layer) {
					layer.options.zindex = zindex;
					layer.smoothRedraw();
			});
			map.options.fadeAnimation = true;
			info.update()
		}

		// get anno id from coordinate
    // expects a L.point object for point and a number for zoom
    // TODO add a query layer selector
    // TODO if the server is localhost (the query server) that doesnt work
    // TODO need a way to select the query layer (dropdown?)
    // TODO get the server from the query layer 
		function getAnnoId(point, zoom) {
      var ocpUrlBase = "http://{{ request.get_host }}/ocp/viz/query/localhost/ca/kharris15apical_anno/id/" + zoom + "/";
			var cutout = Math.round(point.x) + "/" + Math.round(point.y) + "/" + zindex + "/"; 
			var ocpUrl = ocpUrlBase.concat(cutout);
      // store the return data
			var data = null;

			// make request 
			var xmlHttp = new XMLHttpRequest();
			xmlHttp.open( "GET", ocpUrl, false );
			xmlHttp.send( null );

			return xmlHttp.responseText;

		}

		// popup on click (testing get anno id) 
		var popup = L.popup();
		function onMapClick(e) {
      if (querytool) {
        var reqPoint = map.project(e.latlng);	
        popup
          .setLatLng(e.latlng)
          .setContent("You requested anno " + getAnnoId(reqPoint, map.getMaxZoom() - map.getZoom()))
          .openOn(map);
      } 
		}
		map.on('click', onMapClick);

    // keyboard shortcuts
    $(document).keypress(function(event) {
      if ( !$(event.target).is('input')) {
        console.log(event.which);
        switch (event.which) {
          case 104: // h -- help
            toggleKeyboardHelp();
            break;
          case 119: // w -- zindex++
            incZIndex();
            break;
          case 115: // s -- zindex--
            decZIndex();
            break;
          case 97: // a -- zoom out
            map.zoomOut()
            break;
          case 100: // d -- zoom in
            map.zoomIn()
            break;
          default:
            // do nothing

        }
      } 
    });
    function toggleKeyboardHelp() {
      if ($( ".keyhelp" ).css("display") == "none") {
        $( ".keyhelp" ).fadeIn( 1000, function() {
          // Animation complete
        });
      }
      else {
        $( ".keyhelp" ).fadeOut( 500, function() {
          // Animation complete
        });
      }
    } 

    // tools
    // query tool
    $( '#query' ).click(function(event) {
      $( '#querybutton' ).toggleClass('active');
      querytool = !querytool;
    });
    //$( '#clearmarkers' ).click(function(event) {
    // TODO need to either store markers in a global array or as a layer 
    //});

    // TODO clicking on a marker pops up coordinates 

    // add keyboard help to map
		var keyhelp = L.control();
		keyhelp.options.position = 'bottomleft';
		keyhelp.onAdd = function (map) {
			this._div = L.DomUtil.create('div', 'keyhelp');
			this.update();
			return this._div;
		};

		keyhelp.update = function () {
      this._div.innerHTML = 
      "<h5>Keyboard Shortcuts</h5><ul class='list-unstyled'>" +
        "<li><kbd>h</kbd> display help</li>" + 
        "<li><kbd>w</kbd> increase z-index</li>" + 
        "<li><kbd>a</kbd> zoom out</li>" + 
        "<li><kbd>s</kbd> decrease z-index</li>" + 
        "<li><kbd>d</kbd> zoom in</li>" + 
        "</ul><small>Press <kbd>h</kbd> to close.</small>";
		};
    
    keyhelp.addTo(map);

    {# jquery slider (opacity controls) #}
    $(function() {
      $( "#opacity-control > span" ).each(function() {
        var layer = $( this ).text(); // TODO parse value here too
        $( this ).empty().slider({
          min: 0,
          max: 100,
          value: eval(layer).options.opacity*100,
          slide: function ( event, ui ) { 
              eval(layer).setOpacity(ui.value/100);
            },
          start: function ( event, ui ) { map.dragging.disable(); },
          stop: function ( event, ui ) { map.dragging.enable(); }, 
        });
      });
    });// sliders
  </script>
</body>
{# jquery and bootstrap js #}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
{# jquery ui (for slider) #}
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

</html>


